---
import Container from "../common/Container.astro";
import P from "../common/P.astro";
import GradientText from '../common/GradientText.astro'
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Container class="catch-me">
  <section class="catch-me__hero">
    <div class="hero-content">
      <P class="catch-me__text" size="display-xxl" as="h2">
        {t('catch-me.first-description')}&nbsp;<GradientText>{t('catch-me.create')}</GradientText>&nbsp;{t('catch-me.second-description')}
      </P>
      <a href="mailto:hi@jorshh.com" class="catch-me-btn">{t('catch-me.cta')}</a>
    </div>
  </section>
</Container>

<style>
  .catch-me {
    background-color: var(--white-color);
    padding: 1rem;
    height: 100vh;
  }

  .catch-me__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 95vh;
    background: var(--black-color);
    color: var(--white-color);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    padding: 2rem;

    @media (max-width: 420px) {
      padding: 1rem;
    }
  }

  .hero-content{
    display: flex;
    flex-direction: column;
  }

  .catch-me__hero::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    animation: moveGrid 5s linear infinite;
    opacity: 0.8;
  }

  @keyframes moveGrid {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-40px, -40px);
    }
  }

  .catch-me__text {
    text-transform: uppercase;
    text-wrap: pretty;
    max-width: 35ch;
    width: 100%;
    color: var(--white-color);
    font-family: "PP Mori";
    
  }

  .catch-me-btn {
    
    padding: 12px 24px;
    font-size: 1.5rem;
    width: fit-content;
    font-weight: 600;
    border: solid 1px #d5ff63;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    transition: ease background 0.2s,ease-in color 0.3s;
  }

  .catch-me-btn:hover {
    background: #d5ff63;
    color: var(--black-color);
  }

</style>

