---
import { Image } from "astro:assets";
import Container from "../common/Container.astro";
import P from "../common/P.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container as="section" id="experience">
    <P size="display-xxl" as="h2">Experience</P>
    <P size="heading-lg" class="experience--description">
      {t("experience.description")}
    </P>
  
   
  <div class="experience--list">
    <article class="experience--item">
      <div class="experience--logo">
        <Image src="https://statics.globant.com/production/public/Fav-icon_Globant_8_2.png" alt="Globant's logo." width="50" height="50" />

      </div>

      <div class="experience--info">
        <P class="experience--position" size="body">Web UI Senior Developer</P>
        <P class="experience--company" size="body-sm">Globant • Full-time</P>
        <P class="experience--date">March 2024 - Today</P>
      </div>
    </article>

    <article class="experience--item">
      <div class="experience--logo">
        <Image src="https://statics.globant.com/production/public/Fav-icon_Globant_8_2.png" alt="Globant's logo." width="50" height="50" />
      </div>

      <div class="experience--info">
        <P class="experience--position" size="body">Web UI Semi Senior Developer</P>
        <P class="experience--company" size="body-sm">Globant • Full-time</P>
        <P class="experience--date">Nov 2021 - March 2024</P>
      </div>
    </article>


    <article class="experience--item">
      <div class="experience--logo">
        <Image src="https://media.glassdoor.com/sqll/1817884/upax-squarelogo-1645706364688.png" alt="Upax's logo." width="50" height="50" />
      </div>

      <div class="experience--info">
        <P class="experience--position" size="body">Front End Developer</P>
        <P class="experience--company" size="body-sm">Upax • Full-time</P>
        <P class="experience--date">May 2021 - Nov 2021</P>
      </div>
    </article>


    <article class="experience--item">
      <div class="experience--logo">
        <Image src="https://blogdelagua.com/wp-content/uploads/2013/05/imta.jpg" alt="Imta's logo." width="50" height="50" />
      </div>

      <div class="experience--info">
        <P class="experience--position" size="body">Fullstack Developer</P>
        <P class="experience--company" size="body-sm">IMTA • Full-time</P>
        <P class="experience--date">May 2019 - Aug 2021</P>
      </div>
    </article>

  </div>
</Container>

<style>
  #experience {
    padding: 4rem 1rem;
    background-color: var(--white-color);
    color: var(--text-color);
  }

  .experience--description {
    margin-top:1rem;
    max-width: 75ch;
  }

  .experience--list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .experience--item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;    
    background-color: #eeeeee;
  }

  .experience--logo {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: var(--white-color);
  }

  .experience--logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .experience--info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .experience--position {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    
  }

  .experience--company {
    margin: 0;
  }

  .experience--date {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(136, 136, 136);
  }


</style>

