---
import P from "./../common/P.astro";
import Container from "./../common/Container.astro";
import Link from "./../common/Link.astro";
import ScrollDown from "./../common/ScrollDown.astro";
import GradientText from '../common/GradientText.astro'
---

<Container class="hero" as="section" id="hero">  
    <P class="greeting">👋 Hi! I'm Jorge <sup>(hor-HEH)</sup></P>
    <P as="h1" class="title">I enjoy <GradientText>create</GradientText> things for the web.</P>
    <!-- <P>Web developer at <Link href="https://www.globant.com/">@Globant</Link></P> -->
    <P>Specializing in responsive and adept at developing comprehensive design systems.</P>
    <Link href="#cta" class="cta">Let's build something <strong>awesome</strong> together!</Link> 
    <ScrollDown />

</Container>

<style>
  .hero {
    /* border: solid 1px red; */
    /* margin: 100px auto 0; */
    margin-top: 50px;
    height: 100vh;
    /* position: sticky; */
    position: relative;

    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
    /* z-index: -1; */
    /* margin-bottom: 500px; */
  }

  .title {
    /* width: 90vw; */
    /* border: solid 1px red; */
    line-height: 1;
    text-wrap: balance;
    letter-spacing: -6px;
    font-size: clamp(72px, 10vw, 150px);
    /* line-height: 130px; */

    @media (max-width: 420px) {
      max-width: 960px;
      letter-spacing: -2px;
    }


  }
  .greeting {
    margin-bottom: 24px;
  }


</style>

<script>
  const section = document.querySelector(".hero")! as HTMLDivElement

  section.style.height = `${window.innerHeight - 50}px` 

</script>