---
import ScrollBar from "../common/ScrollDown.astro";
import Blotter from "../common/Blotter.astro";
import Link from "../common/Link.astro";
import Logo from "../common/Logo.astro";
import P from "../common/P.astro";
import Container from "../common/Container.astro";
---

<Container as="section" id="home">
  <header class="hero-header">
    <div class="left-side">
      <Logo />
      <h1 class="heading-style-header">
        DEDICATED to pixel-perfect UI & smooth digital experiences.
      </h1>
    </div>
    <Link href="#contact" class="cta">Lets talk</Link>
  </header>

  <footer>
    <p>Last updated 2025-02-27</p>
    <p>© 2025</p>
  </footer>
  <Blotter />
  <ScrollBar />
</Container>

<style>
  #home {
    height: 100dvh;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    isolation: isolate;
    background-color: var(--black-color);

    footer {
      position: absolute;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      bottom: 1rem;
      left: 1.5rem;
      right: 1.5rem;
      font-size: 0.8rem;
      opacity: 0.6;
    }
  }
  .hero-header {
    color: var(--text-color);
    border-radius: 0.6rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    display: flex;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .heading-style-header {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cta {
    font-size: 0.8rem;
    font-weight: 600;
  }
</style>
