---
import P from "./../common/P.astro";
import Container from "./../common/Container.astro";
import Link from "./../common/Link.astro";
import ScrollDown from "./../common/ScrollDown.astro";
---

<Container class="hero" as="section">
    <P class="greeting">👋 Hi! I'm Jorge <sup>(hor-HEH)</sup></P>
    <P as="h1" class="title">I enjoy create things for the web.</P>
    <P>Web developer at <Link href="https://www.globant.com/">@Globant</Link></P>
    <P>Specializing in responsive and adept at developing comprehensive design systems.</P>
    <ScrollDown />

    
  <!-- <video class="m-video__video" autoplay muted playsinline loop data-wf-ignore="true" data-object-fit="cover">
    <source src="/bg.mp4" data-wf-ignore="true" />
  </video>
  <div class="video-overlay">
    <svg viewBox="0 0 1 1">
      <defs>
        <clipPath id="clip" clipPathUnits="objectBoundingBox">
          <text x="0.5" y="0.5" font-size="0.22" text-anchor="middle" font-weight="700" alignment-baseline="middle">CREATE</text>
        </clipPath>
      </defs>
    </svg>
  </div> -->

</Container>

<style>
  .hero {
    /* border: solid 1px red; */
    /* margin: 100px auto 0; */
    margin-top: 50px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
    /* margin-bottom: 500px; */
  }

  .title {
    /* width: 90vw; */
    /* max-width: 1400px;  */
    /* border: solid 1px red; */
    line-height: 1;
    text-wrap: balance;
    letter-spacing: -6px;
    font-size: clamp(64px, 10vw, 140px);
    /* line-height: 130px; */

    @media (max-width: 420px) {
      max-width: 960px;
      letter-spacing: -2px;
    }
  }
  .greeting{
    margin-bottom: 24px;
  }


  .m-video__video {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-clip-path: url(#clip);
  clip-path: url(#clip);
  -o-filter: blur(15px);
  filter: blur(15px);
}

.video-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  display: flex;
  place-items: center;
  place-content: center;
  transition: opacity 3s ease;
  z-index: 2;
}
.video-overlay svg{
  width:100%;
  height:100%;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
</style>

<script>
  const section = document.querySelector(".hero")! as HTMLDivElement

  section.style.height = `${window.innerHeight - 50}px` 

  
</script>