---
import Container from "../common/Container.astro";
import P from "../common/P.astro";

---

<Container id="works" class="projects">
  <div class="projects--title">
    <P size="display-xxl">Selected <br>Work</P>
    <P>I’ve been fortunate to work on projects that have been published and
      recognized on platforms with global reach. <br>Take a look...</P>
  </div>
  <div class="x">
    <div class="hola">
      <video autoplay loop poster="/works/games.webp">
        <source src="/works/games.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="hola right">
      <video autoplay loop poster="/works/index.webp">
        <source src="/works/index.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="hola">
      <img src="/work/games.webp" alt="">
    </div>
    


    
    <div class="hola" style="opacity: 0;"></div>
  </div>
</Container>
<style>
  .projects {
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    background-color: var(--white-color);
    position: relative;
    /* padding-bottom: 50dvh; */
    /* border: 1px red solid; */
  }

  .projects--title {
    position: sticky;
    top: 40vh;
    text-align: center;
    height: fit-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    /* border: solid 1px red; */
  }

  .hola {
    width: 43%;

    img {
      width: 100%;
      object-fit: cover;
    }
    /* border: solid 1px green; */
  }

  .right {
    align-self: flex-end;
  }

  .x {
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 80dvh;
  }
</style>
