---
import { Image } from 'astro:assets';
import Container from "../common/Container.astro";
import Link from "../common/Link.astro";
import P from "../common/P.astro";
import gamesImage from '../../../public/work/games.webp'; // Image is 1600x900
---

<Container id="works" class="projects">
  <div class="projects--title">
    <P size="display-xxl">The Cool <br> Stuff</P>
  </div>
  <div class="x">
    <article class="hola">
      <video autoplay loop poster="/works/games.webp" muted>
        <source src="/works/games.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori">Games Studio</P>
        <P size="body-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          ipsam nulla velit, culpa voluptates corrupti assumenda ex cumque esse
          rerum a expedita neque suscipit dolore tenetur at iusto eligendi odit.</P
        >
        <Link href="mailto:hi@jorshh.com">Ask for details</Link>
      </div>
    </article>
    <article class="hola right">
      <video autoplay loop poster="/works/index.webp" muted>
        <source src="/works/index.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori"
          >The Global Website Index</P
        >
        <P size="body-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          ipsam nulla velit, culpa voluptates corrupti assumenda ex cumque esse
          rerum a expedita neque suscipit dolore tenetur at iusto eligendi odit.</P
        >
        <Link href="mailto:hi@jorshh.com">Ask for details</Link>
      </div>
    </article>

    <article class="hola">
      <Image src={gamesImage} alt="Landing page of Globant Games studio" />
      <!-- <img src="/work/games.webp" alt="" /> -->
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori"
          >Games Studio Landing Page</P
        >
        <P size="body-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          ipsam nulla velit, culpa voluptates corrupti assumenda ex cumque esse
          rerum a expedita neque suscipit dolore tenetur at iusto eligendi odit.</P
        >
        <Link href="mailto:hi@jorshh.com">Ask for details</Link>
      </div>
    </article>

    <article class="hola" style="opacity: 0;"></article>
  </div>
</Container>
<style>
  .projects {
    background-color: var(--white-color);
    position: relative;
    padding-top: 4rem;

    @media (min-width: 1024px) {
      padding-top: 0rem;
      padding-bottom: 4rem;
    }
  }

  .projects--title {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: solid 1px red; */

    @media (min-width: 1024px) {
      text-align: center;
      width: max-content;
      position: sticky;
      top: 40vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hola {
    width: 100%;

    img, video {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }


    @media (min-width: 1024px) {
      width: 60%;
    }
  }

  .right {
    align-self: flex-start;

    @media (min-width: 1024px) {
      align-self: flex-end;
    }
  }

  .x {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 1rem;

    @media (min-width: 1024px) {
      margin-top: 100vh;
      gap: 80dvh;
    }
  }

  .work--description {
    display: none;
    max-width: 60ch;
    width: 100%;
    padding-top: 0.5rem;

    .body {
      margin: 0;
    }

    .body-sm {
      padding: 4px 0;
    }

    a {
      margin: 0;
      font-size: 14px;
    }
  }
</style>
