---
import { Image } from "astro:assets";
import Container from "../common/Container.astro";
import P from "../common/P.astro";
import gamesImage from "../../../public/work/games.webp"; // Image is 1600x900
---

<Container id="works" class="projects">
  <div class="projects--title">
    <P size="display-xxl">Selected <br> work</P>
  </div>
  <div class="x">
    <a class="hola" href="/works/games-studio">
      <video autoplay loop poster="/works/games.webp" muted>
        <source src="/works/games.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">Globant Games Studio</P>
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">↗</P>
      </div>
    </a>

    <a class="hola right" href="/works/the-global-website-index">
      <video autoplay loop poster="/works/index.webp" muted>
        <source src="/works/index.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">The Global Website Index</P>
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">↗</P>
      </div>
    </a>

    <a class="hola" href="/works/chat-ai">
      <Image src={gamesImage} alt="Landing page of Globant Games studio" />
      <div class="work--description">
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">Games Studio Landing Page</P>
        <P textTransform="uppercase" fontFamily="pp-mori" size="heading-lg">↗</P>
      </div>
    </a>

    <article class="hola" style="opacity: 0;"></article>
  </div>
</Container>
<style>
  .projects {
    background-color: var(--white-color);
    position: relative;
    padding-top: 4rem;

    @media (min-width: 1024px) {
      padding-top: 0rem;
      padding-bottom: 4rem;
    }
  }

  .projects--title {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: solid 1px red; */

    @media (min-width: 1024px) {
      text-align: center;
      width: max-content;
      position: sticky;
      top: 40vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hola {
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;

    img,
    video {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    @media (min-width: 1024px) {
      width: 60%;
    }

    &:hover {
      scale: 1.02;
      .work--description {
        color: white;
      }
    }
  }

  .right {
    align-self: flex-start;

    @media (min-width: 1024px) {
      align-self: flex-end;
    }
  }

  .x {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 1rem;

    @media (min-width: 1024px) {
      margin-top: 100vh;
      /* gap: 80dvh; */
      gap: 60dvh;
    }
  }

  .work--description {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    padding: 10rem 1rem 0.5rem;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.377) 60%, transparent 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.377) 60%, transparent 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.377) 60%, transparent 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.377) 60%, transparent 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.856) 0%, rgba(0, 0, 0, 0.377) 60%, transparent 100%);

    .body {
      margin: 0;
    }

    .body-sm {
      padding: 4px 0;
    }

    a {
      margin: 0;
      font-size: 14px;
    }
  }
</style>
