---
import Container from "../common/Container.astro";
import P from "../common/P.astro";
---

<Container as="section" id="works" class="works">
  <div class="works--description">
    <P size="display-xxl" as="h2">Nice things people said</P>
  </div>
  <div class="work--gallery">
    <article class="work">
      
      <div class="work--description">
        <P size="heading-xl">«Thanks BONO! Clearly, quickly, efficiently. I recommend it! We regularly put together websites and other technical works in html.»
        </P>
        <P textTransform="uppercase" fontFamily="pp-mori">Games Studio Landing Page</P>
      </div>
    </article>

    <article class="work">
      <div class="work--description">
        <P size="heading-xl">«The Bono team proved to be a reliable partner! Professionalism of their specialists, accuracy of tasks and meeting deadlines have become the hallmarks of their work. The team is able to promptly find solutions for the tasks and meet our requirements.»
        </P>
        <P fontFamily="pp-mori">Globant</P>
      </div>
    </article>
    <article class="work">
      <div class="work--description">
        <P size="heading-xl">«Working with BONO was really great! Starting with communication with managers and ending with the quality of final materials. You are always in touch, pleasant in communication, active, patient and attentive to our wishes, and approvals, estimates and briefings are all in time and clearly.»
        </P>
        <P textTransform="uppercase" fontFamily="pp-mori">Games Studio Landing Page</P>
      </div>
    </article>

    <article class="work">
      <div class="work--description">
        <P size="heading-xl"
          >«BONO do their work efficiently and in time. Sometimes even in the most unrealistic time.»
          </P
        >
        <P fontFamily="pp-mori">Globant</P>
      </div>
    </article>
  </div>
</Container>

<style>
  .works {
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    justify-content: space-between;
    border-bottom-left-radius: 1rem;
    
    border-bottom-right-radius:1rem


    @media (max-width: 420px) {
      padding-top: 0rem;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
    }
  }

  .works--description {
    position: sticky;
    top: 50px;
    height: fit-content;
    text-wrap: balance;
    


    @media (max-width: 1150px) {
      margin-bottom: 2rem;
      position: static;
      text-wrap: auto;
    }
  }

  .work--gallery {
    /* border: solid 1px red; */
    width: 70%;
    min-width: 70%;
    display: grid;

    grid-template-columns: repeat(1, minmax(0, 1fr));

    column-gap: 1rem;
    row-gap: 3rem;

    
    @media (max-width: 1150px) {
      width: 100%;
    min-width: 100%;
    row-gap: 1rem;
    }

    article {
      


      .work--description {
        /* max-width: 75ch; */
        width: 100%;
        margin-top: 8px;

        .body {
          margin: 0;
        }

        .heading-xl {
          font-weight: 400;
        }
      }
    }
  }

  .work {
    max-width: 74ch;
  }

  /* When article is visible */

</style>

