---
import Container from "./../common/Container.astro";
import P from "./../common/P.astro";
import Works from './../common/Works.astro'
---

<Container as="section">
  <P as="h2">Work That Made Waves</P>
  <P class="selected-work__description">I’ve been fortunate to work on projects that have been published and
    recognized on platforms with global reach.</P
  >
  <Works/>
  
</Container>

<style>

  .selected-work__description {
    max-width: 75ch;
  }
</style>
