---
import Container from "./../common/Container.astro";
import P from "./../common/P.astro";
import Works from "./../common/Works.astro";
---


<Container class="selected-work">
  <P as="h2" class="text">Selected work</P>
  <P class="selected-work__description">I’ve been fortunate to work on projects that have been published and
    recognized on platforms with global reach.</P>
  <Works />
</Container>

<style>
  .selected-work {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--bg-color);

  }
  .selected-work__description {
    max-width: 75ch;
  }

  .text{
    margin: 0;
  }
</style>
