---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Container from "../common/Container.astro";
import P from "../common/P.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container as="section" id="testimonials" class="testimonials">
  <div class="testimonials--description">
    <P size="display-xxl" as="h2">{t("testimonials.title")}</P>
  </div>
  <div class="testimonial--gallery">
    <article class="testimonial">
      <div class="testimonial--description">
        <P size="heading-xl">{t("testimonials.first.description")}</P>
        <a
          href={t("testimonials.first.linkedin")}
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit Andrés Martinez's LinkedIn profile (opens in new tab)"
        >
          <Image
            src={t("testimonials.first.image")}
            alt={t("testimonials.first.name")}
            width="48"
            height="48"
            class="testimonial--img"
          />
        </a>
        <footer>
          <P
            size="body-sm"
            class="testimonial--name"
            as="a"
            href={t("testimonials.first.linkedin")}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Andrés Martinez's LinkedIn profile (opens in new tab)"
            >{t("testimonials.first.name")}</P
          >
          <P size="body-sm" class="testimonial--position"
            >{t("testimonials.first.role")}</P
          >
        </footer>
      </div>
    </article>

    <article class="testimonial">
      <div class="testimonial--description">
        <P size="heading-xl">{t("testimonials.second.description")}</P>
        <a
          href={t("testimonials.second.linkedin")}
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit Luisny Ugarte's LinkedIn profile (opens in new tab)"
        >
          <Image
            src={t("testimonials.second.image")}
            alt={t("testimonials.second.name")}
            width="48"
            height="48"
            class="testimonial--img"
          />
        </a>

        <footer>
          <P
            size="body-sm"
            class="testimonial--name"
            as="a"
            href={t("testimonials.second.linkedin")}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Luisny Ugarte's LinkedIn profile (opens in new tab)"
          >
            {t("testimonials.second.name")}</P
          >
          <P size="body-sm" class="testimonial--position"
            >{t("testimonials.second.role")}</P
          >
        </footer>
      </div>
    </article>

    <article class="testimonial">
      <div class="testimonial--description">
        <P size="heading-xl">{t("testimonials.third.description")}</P>
        <Image
          src={t("testimonials.third.image")}
          alt={t("testimonials.third.name")}
          width="48"
          height="48"
          class="testimonial--img"
        />
        <footer>
          <P size="body-sm" class="testimonial--name"
            >{t("testimonials.third.name")}</P
          >
          <P size="body-sm" class="testimonial--position"
            >{t("testimonials.third.role")}</P
          >
        </footer>
      </div>
    </article>

    <article class="testimonial">
      <div class="testimonial--description">
        <P size="heading-xl">{t("testimonials.fourth.description")}</P>
        <Image
          src={t("testimonials.fourth.image")}
          alt={t("testimonials.fourth.name")}
          width="48"
          height="48"
          class="testimonial--img"
        />
        <footer>
          <P
            size="body-sm"
            class="testimonial--name"
            as="a"
            href={t("testimonials.fourth.linkedin")}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Julián Morán's LinkedIn profile (opens in new tab)"
            >{t("testimonials.fourth.name")}</P
          >
          <P size="body-sm" class="testimonial--position"
            >{t("testimonials.fourth.role")}</P
          >
        </footer>
      </div>
    </article>
  </div>
</Container>

<style>
  .testimonials {
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-between;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @media (max-width: 420px) {
      padding-top: 0rem;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
    }
  }

  .testimonials--description {
    position: sticky;
    top: 50px;
    height: fit-content;
    text-wrap: balance;
    padding-right: 1rem;
    max-width: 500px;
    @media (max-width: 1150px) {
      position: static;
      text-wrap: auto;
    }
  }

  .testimonial--gallery {
    width: 70%;
    min-width: 70%;

    @media (max-width: 1150px) {
      width: 100%;
      min-width: 100%;
    }

    article {
      padding-top: 1rem;

      .testimonial--description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-top: 8px;

        a {
          width: fit-content;
        }
        .testimonial--name {
          margin: 0;
          font-weight: 400;
          text-decoration: none;
        }

        .testimonial--position {
          margin: 0;
          font-weight: 300;
          opacity: 0.7;
          font-size: 12px;
        }

        .heading-xl {
          font-weight: 400;
          margin-bottom: 1rem;

          &::before {
            content: "«";
          }
          &::after {
            content: "»";
          }
        }
      }

      .testimonial--img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
        filter: grayscale(100%);
      }
    }
  }

  .testimonial {
    max-width: 74ch;
    margin-top: 2rem;
    border-top: 1px #ddd solid;
  }

  .testimonial:nth-of-type(1) {
    margin-top: 0px;
    border: none;
  }
</style>
