---
import Link from "../components/common/Link.astro";
import P from "../components/common/P.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="blog">
    <P as="h1" size="display-xxl" fontFamily="pp-mori">Blog</P>
    <P>Coming soon...</P>
    <Link href="/">Go back</Link>
  </div>

  <style>
    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      background-color: var(--white-color);
    }

    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }
  </style>
</Layout>
