---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import SelectedWork from '../components/sections/SelectedWork.astro'
import WorkExperience from '../components/sections/WorkExperience.astro';

---

<Layout>
	<Hero />
	<SelectedWork/>
	<WorkExperience/>
	<div style="height: 1200px;"></div>
	<div style="height: 1200px;"></div>
	
</Layout>
