---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/NewAbout.astro'
import Works from '../components/sections/Works.astro'
import CatchMe from '../components/sections/CatchMe.astro'
import Experience from '../components/sections/Experience.astro'
import Container from '../components/common/Container.astro'
import T from '../components/sections/T.astro'

---

<Layout>
	<Hero />
	<About />
	<Works />
	<CatchMe />
	<Experience />
	<T></T>
	 <div style="background-color: white;">

	<Container style="height: 780px; font-size: 40px; background-color: rgb(250, 250, 250); color: black; border-bottom-left-radius: 1rem;border-bottom-right-radius:1rem">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio veniam odit, magnam illo vitae nesciunt sed architecto dignissimos numquam accusamus mollitia aperiam, nemo itaque id animi enim repellat, illum natus.
	</Container>
</div>
	
</Layout>
