---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro'
import SelectedWork from '../components/sections/SelectedWork.astro'
import WorkExperience from '../components/sections/WorkExperience.astro';
---

<Layout>
	<Hero />
	<About />
	<!-- <SelectedWork/> -->
	<!-- <WorkExperience/> -->
	<div style="height: 1200px; font-size: 40px; background-color: #fff; color: black;">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio veniam odit, magnam illo vitae nesciunt sed architecto dignissimos numquam accusamus mollitia aperiam, nemo itaque id animi enim repellat, illum natus.
	</div>
	<div style="height: 1200px;"></div>
	
</Layout>
