---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';

import NWorks from '../components/sections/NewWorks.astro'
import Works from '../components/sections/Works.astro'
import CatchMe from '../components/sections/CatchMe.astro'
import Experience from '../components/sections/Experience.astro'
import About from '../components/sections/NewAbout.astro'

---

<Layout>
	<Hero />

	<About/> 
	<NWorks/>
	<CatchMe />
	<Experience />
	<Works />
</div>
	
</Layout>
