---
import P from "./common/P.astro";
import Link from "./common/Link.astro";
import Marquee from './common/Marquee.astro'
---

<footer id="contact">
    <Marquee><P as="h2" class="text">Lets talk</P></Marquee>  
    <div class="contact">
      <P>Let's build something together.</P>
      <Link href='#'>hi@jorshh.com </Link>
    </div>

    <P>Made with love and astro</P>
</footer>

<style>
  footer {
    

    height: 80vh;
    background-color: var(--title-color);
    color: var(--bg-color);
    position: sticky;
    bottom: 0;
    z-index: -1;
    padding-top: 4rem;
  }
  .contact {
    text-align: center;
    /* color: var(--bg-color); */
    .p {
      color: var(--bg-color);
    }
  }

  
</style>
