---
import P from "./common/P.astro";
import Link from "./common/Link.astro";
import Marquee from './common/Marquee.astro'
---

<footer id="contact">
    <Marquee><P as="h2" class="text">Lets talk</P></Marquee>  
    <div class="contact">
      <P>Let's build something together.</P>
      <Link href='#'>hi@jorshh.com </Link>
    </div>

    <P>Made with love and astro</P>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 300;
    width: 100%;
    gap: 16px;

    height: 80vh;
    background-color: var(--title-color);
    color: var(--bg-color);
    /* padding-top: 0; */
    /* position: sticky; */
    top: auto;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
  }
  .contact {
    text-align: center;
    /* color: var(--bg-color); */
    .p {
      color: var(--bg-color);
    }
  }

  
</style>
