---
import Link from "./common/Link.astro";
import Logo from "./common/Logo.astro";
---

<nav>
  <Logo mode="dark" class="nav-logo"/>
  <Link href="#about" class="nav-link">About</Link>
  <Link href="#about" class="nav-link">Work</Link>
  <Link href="#about" class="nav-link">Experience</Link>
  <Link href="#about" class="nav-link">Contact</Link>
</nav>

<style>
  nav {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 0.0625rem solid #ffffff1a;

    padding: 0.5rem 1rem;

    border-radius: 0.6rem;
    background-color: #00000080;
    backdrop-filter: blur(18.75rem);
    color: #fff;
    mix-blend-mode: normal;
    z-index: 9999;
  }

  .nav-logo{
    margin-right: 1rem;
  }


  .nav-link {
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 0.5rem 1rem;
    font-weight: 200;
    /* opacity: 0.8; */
    /* color: red; */
    text-transform: capitalize;
    

    font-family: system-ui, -apple-system;
    &::after {
      display: none;
    }
  }
</style>
