---
import Link from "./common/Link.astro";
import Logo from "./common/Logo.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<nav id="navbar" class="show">
  <Logo mode="dark" class="nav-logo" />
  <Link href="#about" class="nav-link">{t('nav.about')}</Link>
  <Link href="#works" class="nav-link">{t('nav.works')}</Link>
  <Link href="#experience" class="nav-link">{t('nav.experience')}</Link>
  <Link href="#testimonials" class="nav-link">References</Link>
  <Link href="#contact" class="nav-link">{t('nav.contact')}</Link>
  <Link href="/b" class="nav-link">{"Blog"}</Link>
</nav>

<style>

nav {
  position: fixed;
  top: 0.8rem;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 0.0625rem solid #ffffff1a;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  color: #fff;
  mix-blend-mode: normal;
  z-index: 9999;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    transform 0.4s ease-out,
    opacity 0.3s ease-out;
  will-change: transform, opacity;

  @media (max-width: 670px) {
    display: none;
  }
}

#navbar.show {
  opacity: 1;
  transform: translateY(0);
}
  .nav-logo {
    margin-right: 1rem;
  }

  .nav-link {
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 0.5rem 1rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: system-ui,-apple-system;
    &::after {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

</style>


<script>
  const navbar = document.getElementById("navbar")!;

  window.addEventListener("scroll", () => {
    const scrollThreshold = window.innerHeight + 200; // 100dvh
    if (window.scrollY > scrollThreshold) {
      navbar.classList.add("show");
    } else {
      navbar.classList.remove("show");
    }
  });
</script>
