---
import Logo from "./common/Logo.astro";

const links = [
  { href: "/b", label: "Blog" },
  { href: "/b/categories", label: "Categories" },
  { href: "/b/about", label: "About" },
  { href: "/b/contact", label: "Contact" },
];
---

<nav class="navbar">
  <div class="container">
    <Logo mode="light" class="nav-logo" href="/b" />
    <ul class="nav-links">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  .navbar {
    display: none;
    position: sticky;
    width: 100%;
    border-radius: 0.75rem;
    max-width: 1280px;
    top: 0.5rem;
    z-index: 1;
    margin: 0 auto;
    color: #fff;
    backdrop-filter: blur(20px);

    @media (min-width: 768px) {
      display: block;

    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.75rem;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    text-decoration: none;
    color: rgb(143, 143, 153);
    transition: color 0.3s;
    font-size: 14px;
  }

  .nav-links a:hover {
    color: #fff;
  }
</style>
