---
import Logo from "./common/Logo.astro";

const links = [
  { href: "/blog", label: "Blog" },
  { href: "/blog/categories", label: "Categories" },
  { href: "/blog/about", label: "About" },
  { href: "/blog/contact", label: "Contact" },
];
---

<nav class="navbar">
  <div class="container">
    <Logo mode="light" class="nav-logo" href="/blog" />
    <ul class="nav-links">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  .navbar {
    position: sticky;
    width: 100%;
    border-radius: 0.75rem;
    max-width: 1280px;
    top: 0.5rem;
    z-index: 1;
    margin: 0 auto;
    /* border: 1px solid rgba(31, 32, 35, .5); */
    color: #fff;

    backdrop-filter: blur(20px);
    /* background-color: #111113; */
    /* background-color: #00000080; */
    /* backdrop-filter: blur(18.75rem); */
    /* backdrop-filter: blur(20px); */
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.75rem;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    text-decoration: none;
    color: rgb(143, 143, 153);
    transition: color 0.3s;
    font-size: 14px;
  }

  .nav-links a:hover {
    color: #fff;
  }
</style>
