---
import P from "./P.astro";
---

<div class="experiences">
  <article class="experience" data-experience="globant-1" data-index="0">
    <div class="text">
      <P as="small">2024 - Web ui Sr</P>
      <P as="h3">Globant</P>
    </div>
  </article>

  <article class="experience" data-experience="globant-2" data-index="1">
    <div class="text">
      <P as="small">2021 - Web ui SSR</P>
      <P as="h3">Globant</P>
    </div>
  </article>

  <article class="experience" data-experience="upax" data-index="2">
    <div class="text">
      <P as="small">2021 - Frontend developer</P>
      <P as="h3">UPAX</P>
    </div>
  </article>
  <article class="experience" data-experience="imta" data-index="3">
    <div class="text">
      <P as="small">2019 - Fullstack developer</P>
      <P as="h3">IMTA</P>
    </div>
  </article>
</div>

<style>

  .experiences {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
  }

  .experience {
    margin-bottom: 60px;
  }

  .text {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    transition: all 0.5s ease;
  }

  .experience.active .text {
    transform: translate3D(80px, 0, 0);
  }
</style>
