---
import Link from "./Link.astro";
import P from "./P.astro";

---
<div class="job-descriptions">
  <div class="job-description">
    <div style="display: flex;justify-content: space-between; flex-direction: column-reverse;">
      <P as="h4">Web UI Senior Developer</P>
      <P>March 2024 - Today</P>
    </div>

    <P as="h5">Descripción</P>
    <P
      >Como <P as="strong">Frontend Developer</P> en Acme Tech, fui responsable
      del desarrollo e implementación de interfaces web dinámicas y optimizadas,
      colaborando con equipos de diseño y backend para mejorar la experiencia
      de usuario.</P
    >

    <P as="h5">Responsabilidades</P>
    <ul>
      <li>
        Diseñé y desarrollé interfaces responsivas utilizando <P
          as="strong">React.js y Next.js</P
        >.
      </li>
      <li>
        Optimizé el rendimiento de la aplicación, reduciendo el tiempo de
        carga en un <P as="strong">35%</P>.
      </li>
    </ul>

    <P as="h5">Tecnologías Utilizadas</P>
    <ul class="tech-stack">
      <li>React.js / Next.js</li>
      <li>JavaScript (ES6+), TypeScript</li>
      <li>CSS3, Tailwind CSS, Styled Components</li>
      <li>REST APIs, GraphQL</li>

    </ul>
  </div>
  <div class="job-description">
    <div style="display: flex;justify-content: space-between; flex-direction: column-reverse;">
      <P as="h4">Web UI Semi Senior Developer</P>
      <P>NOV 2021 - MARCH 2024</P>
    </div>

    <P as="h5">Overview</P>
    <P
      ><Link href="https://www.globant.com/about">Globant</Link> is a technology
      company that offers software product development services. The company
      offers services such as organizational fitness, AI process, automation,
      strategy, push it live and build and evolve.</P
    >
    <P as="h5">Role</P>
    <P
      >Reimagined the future of NZXT's desktop software by improving the
      visual design, user experience and buisness needs. Took ownership of
      foundational aspects of design for the next iteration of the
      software, worked closely with engineers to focus on craft and polish
      to bring the work to life.</P
    >
  </div>
  <div class="job-description">
    <div style="display: flex;justify-content: space-between; flex-direction: column-reverse;">
      <P as="h4">Front end Developer</P>
      <P>May 2021 - Nov 2021</P>
    </div>
    <P as="h5">Overview</P>
    <P
      ><Link href="https://upax.com.mx/quienes-somos">UPAX</Link>is a
      Mexican company specializing in research, strategy, creativity,
      technology, and execution, collaborating with leading brands like
      Nestlé, AT&T, Honda and Volaris to develop innovative and
      high-impact solutions.</P
    >
    <P as="h5">Role</P>
    <P
      >Reimagined the future of NZXT's desktop software by improving the
      visual design, user experience and buisness needs. Took ownership of
      foundational aspects of design for the next iteration of the
      software, worked closely with engineers to focus on craft and polish
      to bring the work to life.</P
    >
  </div>
  <div class="job-description">
    <div style="display: flex;justify-content: space-between; flex-direction: column-reverse;">
      <P as="h4">Fullstack Developer</P>
      <P>May 2019 - Aug 2021</P>
    </div>
    <P as="h5">Overview</P>
    <P
      ><Link href="https://www.gob.mx/imta/que-hacemos">IMTA</Link> is a national
      research institute in Mexico specializing in water technology, sustainability,
      and innovation. It develops advanced solutions for water management,
      climate resilience, and smart monitoring, supporting national policies
      and environmental conservation.
    </P>
    <P as="h5">Role</P>
    <P
      >Reimagined the future of NZXT's desktop software by improving the
      visual design, user experience and buisness needs. Took ownership of
      foundational aspects of design for the next iteration of the
      software, worked closely with engineers to focus on craft and polish
      to bring the work to life.</P
    >
  </div>
</div>

<style>
  .job-descriptions {
    flex-grow: 1;
    width: 100%;
    /* border: 1px solid red; */
    position: static;
    
    padding-left: 64px;
    @media (max-width: 800px) {
      padding-left: 0px;
    }


    ul {
      margin-left: 16px;
      list-style: decimal;
      list-style-position: inside;
      font-size: 22px;
    }
  }

  .job-description {
    
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0px;
    
    @media (max-width: 800px) {
      position: static;
      opacity: 1;
      visibility: visible;
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid rgb(219, 219, 219);
    }
    /* max-width: 70ch; 
    min-width: 50ch; 
    max-width: 960px; */

    .p {
      margin-bottom: 16px;
    }
  }

  .job-description.active {
    opacity: 1;
    visibility: visible;
  }
</style>