<span><slot/></span>

<style>
  span {
    --bg-size: 400%;
    background-color: rgb(rgb(157, 190, 66));
    background-color: rgb(255, 51, 136);
    --color-one: rgb(209, 238, 129);
    --color-two: rgb(192, 250, 34);

    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .title {
      animation: move-bg 16s linear infinite;
    }

    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
</style>
