---
import { languages } from '../../i18n/ui';
import { getRouteFromUrl, useTranslatedPath } from '../../i18n/utils';

const translatePath = useTranslatedPath('en')
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={translatePath(`/services`, lang)}>{label}</a>
    </li>
  ))}
</ul>