---
export interface Props {
  href: string;
  class?: string;
}

const { href , class:className, ...rest}: Props = Astro.props;

const finalClasses = [className];

const isExternal = !href.startsWith("#")
---

<a href={href} target={ isExternal ? "_blank" : "_self" } class:list={finalClasses} {...rest}>
  <slot />
  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.88001 3.19279L13.6512 3.73254C13.944 3.76567 14.2081 4.02987 14.2413 4.32265L14.781 9.09381C14.8141 9.38659 14.6037 9.59709 14.3109 9.56396C14.0181 9.53084 13.7539 9.26664 13.7208 8.97386L13.3258 5.48255L3.48999 15.3184L2.65546 14.4838L12.4913 4.64802L8.99995 4.25305C8.70717 4.21992 8.44297 3.95573 8.40985 3.66295C8.37673 3.37016 8.58723 3.15967 8.88001 3.19279Z" fill="currentColor"/>
    </svg>
    
</a>
<style>


  a {
    color: var(--text-color);
    display: inline-block;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: background-color ease 0.2s;
  }
  

  a:hover {
    color: var(--title-color);
  }
</style>
