---
export interface Props {
  href: string;
  class?: string;
}

const { href , class:className, ...rest}: Props = Astro.props;

const finalClasses = [className];

const isExternal = !href.startsWith("#")
---

<a href={href} target={ isExternal ? "_blank" : "_self" } class:list={finalClasses} {...rest}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: background-color ease 0.2s;

    &::after{
      content: "↗"
    }

    a:hover{
      text-decoration: underline;
    }
  }
  
</style>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("a[href='#contact']");

    links.forEach(link => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: "smooth"
        });
      });
    });
  });
</script>