---

---
<div class="marquee-wrapper">
  <div class="marquee-content"><span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span></div>
  <div class="marquee-content"><span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span> <span> Let's talk</span></div>
</div>

<style>
  .marquee-wrapper {
      width: 100%; 
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .marquee-content {
      display: inline-block;
      padding-right: 3rem;
      font-size: 3rem;
      font-weight: 600;
      animation: marquee 30s linear infinite;
      
      span {
        /* background-color: red; */
        margin: 0 1rem;
      }
    }

    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
</style>
