---

---

<div class="text-responsive"></div>

<style>
  .text-responsive {
    height: 60px;
    position: fixed;
    top: 0px;
    z-index: 1000000;
    width: 100%;
    background-color: red;
  }

  

/* SMALL (S) — min-width: 480px */
@media (min-width: 480px) {
  .text-responsive {
    background-color: green;
  }
}

/* MEDIUM (M) — min-width: 768px */
@media (min-width: 768px) {
  .text-responsive {
    background-color: yellow;
  }
}

/* LARGE (L) — min-width: 1024px */
@media (min-width: 1024px) {
  .text-responsive {
    background-color: blue;
  }
}

/* EXTRA LARGE (XL) — min-width: 1366px */
@media (min-width: 1366px) {
  .text-responsive {
    background-color: purple;
  }
}



  
</style>
