<div class="arrow" id="arrow"></div>
<script>
  if (typeof window !== "undefined") {
    window.addEventListener("scroll", () => {
      const arrow = document.getElementById("arrow")!;
      if (window.scrollY <= 3) {
        arrow.classList.add("fade-in");
        arrow.classList.remove("fade-out");
      } else {
        arrow.classList.add("fade-out");
        arrow.classList.remove("fade-in");
      }
    });
  }
</script>

<style>
  .arrow {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    transition: ease-in;
    animation: down 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
  }
  .arrow::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 12px;
    height: 12px;
    border-left: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    transform: rotate(-45deg);
    opacity: 0.4;
  }

  @keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }

  @-webkit-keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }

  .fade-in {
    opacity: 1;
    transition: 1s all ease-in;
  }

  .fade-out {
    opacity: 0;
    transition: 1s all ease-out;
  }
</style>
