---
import P from "./P.astro";
import WorkCard from './WorkCard.astro'
---

<div class="works">
  <div class="col">
    <WorkCard src="/works/skill.webp" title="Chat AI" description="Globant"/>

    <WorkCard src="/works/skill.webp" title="Skillshare" description="Team member dashboard"/>
  </div>

  <div class="col">
    <div>
      <img class="img" src={"/works/skill.webp"} loading={"lazy"} />
      <P as="small" class="company">Skillshare</P>
      <P as="small" class="desc">Team member insights</P>
    </div>
    <div>
      <img class="img" src={"/works/skill.webp"} loading={"lazy"} />
      <P as="small" class="company">Globant</P>
      <P as="small" class="desc">The global website index</P>
    </div>
  </div>

  <div class="col">
    <div>
      <img class="img" src={"/works/skill.webp"} loading={"lazy"} />
      <P as="small" class="company">Globant</P>
      <P as="small" class="desc">AI landing page</P>
    </div>
    <div>
      <img class="img" src={"/works/skill.webp"} loading={"lazy"} />
      <P as="small" class="company">UPAX</P>
      <P as="small" class="desc">Reclutalia</P>
    </div>
  </div>
</div>

<style>
  .works {
    margin-top: 32px;
    gap: 16px;
    width: 100%;
    display: grid;
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-columns: repeat(12, minmax(0, 1fr)); */

    column-gap: 0.75rem;
    row-gap: 0.75rem;
    /* border: solid 1px red; */
  }

  .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 2px;
  }

  .company {
    color: var(--title-color);
    margin-bottom: 0px;
    font-weight: 400;
  }
  .desc {
    margin-bottom: 0px;
  }
</style>
