---
import "minireset.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ScrollBar from "../components/common/ScrollBar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Noise from "../components/common/Noise.astro"
// import { ClientRouter } from "astro:transitions";
import Responsive from "../components/common/Responsive.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Jorshh - Web Developer | React, Next.js, Node.js</title>
    <meta name="description" content={t("meta.description")} />
    <meta
      name="keywords"
      content="Full Stack Developer, React Developer, Next.js, Node.js, AWS, REST API, DynamoDB, Software Engineer, Software Architecture, Testing, CI/CD, Agile Development"
    />
    <meta name="author" content="Jorshh" />
    <meta name="robots" content="index, follow" />
    <!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->
    <!-- Open Graph for Facebook & LinkedIn -->
    <meta
      property="og:title"
      content="Jorshh - Full-Stack Developer | React, Next.js, Node.js"
    />
    <meta
      property="og:description"
      content="Software development expertise in React, Node.js, and AWS. Experience working at leading companies, building scalable web applications."
    />
    <!-- <meta property="og:image" content="https://your-website.com/profile-image.jpg"> -->
    <meta property="og:url" content="https://jorshh.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jorshh - Full-Stack Developer" />
    <meta
      name="twitter:description"
      content="Expert in React, Next.js, Node.js, RESTful APIs, AWS, and software architecture. Explore my portfolio and experience."
    />

    <!-- <script src="/blotter.min.js" defer is:inline></script>
    <script src="/materials.js" defer is:inline></script> -->
    <script src="https://madebymatt.io/blotter.js" defer is:raw></script>
    <script src="https://madebymatt.io/materials.js" defer is:raw></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="/index.js" defer is:raw></script> -->

    <!-- <meta name="twitter:image" content="https://jorshh.com/profile-image.jpg"> -->

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <ClientRouter /> -->
  </head>
  <body>
    <!-- <Responsive/> -->
    <ScrollBar />
    <Navbar />
    <Noise/>
    <main>
      
      <slot />
    </main>
    <Footer />
    <!-- <LangPicker/> -->
  </body>
</html>
<style is:global>
  :root {
    --black-rgb: 10, 10, 10;
    --white-rgb: 250, 250, 250;

    --black-color: rgb(var(--black-rgb));
    --white-color: rgb(var(--white-rgb));

    --bg-color: rgb(var(--white-rgb));
  }

  @font-face {
    font-family: "PP Mori";
    src: url("/fonts/PPMori-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WienModern";
    src: url("/fonts/WienModern-Regular.otf");
    font-style: normal;
    font-weight: 400;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      cOxygen,
      sans-serif;
    color: rgba(var(--black-rgb), 0.9);
    font-size: 18px;
  }

  ::selection {
    background-color: rgb(80, 120, 243);
  }
  main {
    z-index: 3;
    position: relative;
  }
</style>
