---
import "minireset.css";
import Header from "../components/Header.astro";
import Noise from "../components/common/Noise.astro";
import Footer from "../components/Footer.astro";
import ScrollBar from "../components/common/ScrollBar.astro";
---

<!doctype html>
<html lang="en" style="scroll-padding-top: 80px;">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Jorshh - Web Developer | React, Next.js, Node.js</title>
    <meta
      name="description"
      content="Full-Stack Developer with 5+ years of experience in React, Next.js, Node.js, AWS, RESTful APIs, and software architecture. Expert in testing, CI/CD, and agile development. Explore my work."
    />
    <meta
      name="keywords"
      content="Full Stack Developer, React Developer, Next.js, Node.js, AWS, REST API, DynamoDB, Software Engineer, Software Architecture, Testing, CI/CD, Agile Development"
    />
    <meta name="author" content="Jorshh" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph for Facebook & LinkedIn -->
    <meta
      property="og:title"
      content="Jorshh - Full-Stack Developer | React, Next.js, Node.js"
    />
    <meta
      property="og:description"
      content="Software development expertise in React, Node.js, and AWS. Experience working at leading companies, building scalable web applications."
    />
    <!-- <meta property="og:image" content="https://your-website.com/profile-image.jpg"> -->
    <meta property="og:url" content="https://jorshh.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jorshh - Full-Stack Developer" />
    <meta
      name="twitter:description"
      content="Expert in React, Next.js, Node.js, RESTful APIs, AWS, and software architecture. Explore my portfolio and experience."
    />
    <!-- <meta name="twitter:image" content="https://jorshh.com/profile-image.jpg"> -->

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <ScrollBar />
    <Noise />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --black-rgb: 5, 5, 5;
    --white-rgb: 232, 232, 232;

    --black-color: rgb(var(--black-rgb));

    --bg-color: rgb(var(--white-rgb));
    --title-color: rgb(var(--black-rgb));
    --text-color: rgba(var(--black-rgb), 0.9);

    --imta-light: #70c1ef;
    --upax-light: #ffa333;
    --globant-1-light: #daf34a;
    --globant-2-light: #bfd733;

    --imta-dark: #254e9b;
    --upax-dark: #c76a00;
    --globant-1-dark: #7a9b00;
    --globant-2-dark: #8da300;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: rgb(var(--black-rgb));
      --title-color: rgb(var(--white-rgb));
      --text-color: rgba(var(--white-rgb), 0.9);
      --rgb-bg-color: var(--black-rgb);
      --imta: var(--imta-dark);
      --upax: var(--upax-dark);
      --globant-1: var(--globant-1-dark);
      --globant-2: var(--globant-2-dark);
    }
  }

  html[data-theme="dark"] {
    --bg-color: rgb(var(--black-rgb));
    --title-color: rgb(var(--white-rgb));
    --text-color: rgba(var(--white-rgb), 0.9);
    --rgb-bg-color: var(--black-rgb);
    --imta: var(--imta-dark);
    --upax: var(--upax-dark);
    --globant-1: var(--globant-1-dark);
    --globant-2: var(--globant-2-dark);
  }

  html[data-theme="light"] {
    --bg-color: rgb(var(--white-rgb));
    --title-color: rgb(var(--black-rgb));
    --text-color: rgba(var(--black-rgb), 0.9);
    --rgb-bg-color: var(--white-rgb);
    --imta: var(--imta-light);
    --upax: var(--upax-light);
    --globant-1: var(--globant-1-light);
    --globant-2: var(--globant-2-light);
  }

  @font-face {
    font-family: "Type Pro";
    src: url("/fonts/TypeProVF.woff2") format("woff2");
    font-weight: 500 600 750;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PP Mori";
    src: url("/fonts/PPMori-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "Type Pro", Helvetica;
    background-color: var(--bg-color);
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 300;
    will-change: background-color, color;
    transition:
      background-color 0.5s ease,
      color 0.2s ease;
  }

  body[experience="imta"] {
    background-color: var(--imta);
    #header {
      background-color: var(--imta);
    }
  }

  body[experience="upax"] {
    background-color: var(--upax);
    #header {
      background-color: var(--upax);
    }
  }

  body[experience="globant-2"] {
    background-color: var(--globant-2);
    #header {
      background-color: var(--globant-2);
    }
  }

  body[experience="globant-1"] {
    background-color: var(--globant-1);
    #header {
      background-color: var(--globant-1);
    }
  }

  ::selection {
    background-color: rgb(80, 120, 243);
    color: var(--title-color);
  }
</style>
